/* 
    Document   : core_ui
    Created on : Sep 24, 2013, 5:38:05 PM
    Author     : ANURAG
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.maya {
    display: block;
    font-family: "Tahoma";
}
.maya a {
    text-decoration: none;
    color: inherit;
}
.maya .button {
    background: #0075c4;
    overflow: auto;
    border-radius: 2px;
    padding: 6px;
    font-size: 12px;
    color: white;
    width: 50px;
    text-align: center;
    border: solid 1px #000000;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.maya .dialog {
    position: absolute;
    background: #0066ff;
    box-shadow: #000000 0px 0px 8px;
    top: 50%;
    left: 10%;
    overflow: auto;
    visibility: hidden;
    z-index: 1000;
}
.maya .dialog .title-bar {
    /*background: #cc0000;*/
    color: white;
    overflow: auto;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    cursor: move;
}
.maya .dialog .content {
    background: #e6e6e6;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8px;
}
.maya .menubar {
    /*background: #2a941b;*/
    border-radius: 4px;
    overflow: auto;
    width: 100%;
    min-width: 640px;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-bottom: solid 4px #0075c4;

}
.maya .menubar .menu-icon {
    color: white;
    background: #38cb23;
    padding: 12px;
    float: left;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    word-wrap: break-word;
}
.maya .menubar .item {
    color: white;
    font-size: 13px;
    /*font-weight: bold;*/
    padding: 12px;
    /*text-shadow: 0px 1px 1px #555;*/
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: break-word;
}
.maya .menubar .item:hover {
    background: #0075c4;
    cursor: pointer;
}
.maya .menubar .ritem {
    color: white;
    font-size: 13px;
    /*font-weight: bold;*/
    padding: 12px;
    /*text-shadow: 0px 1px 1px #555;*/
    float: right;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: break-word;
}
.maya .menubar .ritem:hover {
    background: #0075c4;
    cursor: pointer;
}